* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_in_footer {
    width: 95%;
    height: 10vh;
    align-items: center;
    display: flex;
}

.logo_in_footer h1 {
    font-family: Poltawski Nowy;
    font-size: 2rem;
    font-weight: 400;
}

.footer {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.download_platforms {
    width: 95%;
    display: flex;
    gap: 10px;
    height: 10vh;
    align-items: center;
}

.app_for_ios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 40px;
}

.app_for_android {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 40px;
    background-color: black;
}

.app_for_ios i,
.app_for_android i {
    font-size: 30px;
}

.app_for_ios h1 {
    font-size: 15px;
    font-family: poppins;
    font-weight: 600;
}

.app_for_android h1 {
    font-size: 15px;
    font-family: poppins;
    font-weight: 500;
}

.social_media_platforms {
    width: 95%;
    height: 13vh;
    display: flex;
    align-items: center;
    gap: 16px;
}

.social_media_platforms i {
    font-size: 18px;
    color: #000000;
    border: 2px solid #2a2a2a;
    height: 46.51px;
    width: 46.51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

.partition {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partitions {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 3%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 1px;
}

.legal_lincese {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 8vh;
}

.copyright_lincese {
    font-family: poppins;
    font-size: 13px;
    font-weight: 500;
}

.terms_privacy {
    display: flex;
    gap: 10px;
}

.terms_privacy p {
    font-family: poppins;
    font-size: 13px;
    font-weight: 500;
}

.terms_privacy a {
    text-decoration: none;
    color: #000000;
}

.app_for_ios_link{
    width: 20%;
    height: 100%;
    color: black;
    text-decoration: none;
}
.app_for_android_link{
    width: 20%;
    height: 100%;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 60vh;
    }

    .download_platforms {
        width: 95%;
        display: flex;
        gap: 10px;
        height: 30%;
        align-items: flex-start;
        flex-direction: column;
    }

    .app_for_ios {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        height: 100%;
        border: 2px solid black;
        border-radius: 40px;
    }

    .app_for_android {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 78%;
        height: 100%;
        border: 2px solid black;
        border-radius: 40px;
        background-color: black;
    }

    .legal_lincese {
        display: flex;
        align-items: flex-start;
        width: 93%;
        height: 8vh;
        flex-direction: column;
        justify-content: space-evenly;
    }
    /* .app_for_ios_link{
        width: 100%;
        height: 100%;
        color: black;
        text-decoration: none;
    }
    .app_for_android_link{
        width: 100%;
        height: 100%;
        color: black;
        text-decoration: none;
    } */
}


@media screen and (max-width: 480px) {
    .app_for_ios_link{
        width: 100%;
        height: 100%;
        color: black;
        text-decoration: none;
    }
    .app_for_android_link{
        width: 100%;
        height: 100%;
        color: black;
        text-decoration: none;
    }
}





/* coming soon */
.app_for_ios h1 {
    position: relative;
    overflow: hidden;
}

.app_for_ios h1 span {
    display: block;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.app_for_ios .hover-text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    color: #ffffff;
    font-size: 17px;
}

.app_for_ios:hover .original-text {
    opacity: 0;
    transform: translateY(-100%);
}

.app_for_ios:hover .hover-text {
    opacity: 1;
    transform: translateY(0%);
}

.app_for_ios:hover {
    background-color: #000000;
    transition: 0.4s ease-in-out;
}



.app_for_android h1 {
    position: relative;
    overflow: hidden;
}

.app_for_android h1 span {
    display: block;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* .app_for_android .hover-text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    color: #000000;
    font-size: 17px;
    font-weight: 600;
} */

/* .app_for_android:hover .original-text {
    opacity: 0;
    transform: translateY(-100%);
} */

/* .app_for_android:hover .hover-text {
    opacity: 1;
    transform: translateY(0%);
} */

.app_for_android:hover {
    background-color: rgba(48, 220, 128, 1);
    transition: 0.4s ease-in-out;
    border: none;
}

.android_h1{
    color: white;
    transition: 0.4s ease-in-out;
}

.app_for_android:hover .android_h1{
    color: #000000;
    transition: 0.4s ease-in-out;
}

.an{
    color: rgba(48, 220, 128, 1);
    transition: 0.4s ease-in-out;
}

.app_for_android:hover .an{
    color: #000000;
    transition: 0.4s ease-in-out;
}

