* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    border-bottom: 1px solid #f0f0f0;
    font-family:poppins;
}

.logo {
    font-size: 1.5rem;
    font-family: Poltawski Nowy;
}

.header_navigation_nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header_navigation_nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 12px;
}

.header_navigation_nav a:hover {
    color: #000;
}

.header_navigation_nav a.active {
    color: #000;
}

.register-btn {
    background-color: #000;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.register-btn:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .header_navigation_nav {
        display: none;
    }
    .register-btn{
        display: none;
    }
}