@media only screen and (max-width: 375px){
    .header {
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* padding: 0 10px; */
        align-items: center;
    }
    .devotee_vivaah_logo h1 {
        font-family: Poltawski Nowy;
        font-size: 24px;
        font-weight: 300;
    }
    .header_menu {
        display: none;
        justify-content: space-evenly;
        width: 35%;
        font-size: 12px;
    }
    .sign_up {
        width: 33%;
        display: flex;
        justify-content: center;
        height: 90%;
        align-items: center;
    }
    .sign_up a {
        background: black;
        border-radius: 33px;
        width: 100%;
        color: white;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Poppins;
        height: 80%;
        font-weight: 500;
        text-decoration: none;
    }
    .first_section {
        width: 100%;
        height: 50vh;
        background: rgb(255, 255, 255);
        /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(168, 241, 255, 1) 100%); */
        border-radius: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .introduction_h1 {
        height: 16vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .introduction_h1 h1 {
        font-family: inter;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: -1px;
        width: 69%;
        text-align: center;
        line-height: 33px;
    }
    .introduction_para {
        font-size: 11px;
        font-family: 'Poppins';
        height: 5vh;
        text-align: center;
    }
    .app_download_links {
        display: flex;
        align-items: center;
        width: 100%;
        height: 16vh;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    }
    .ios_download {
        width: 65%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: black;
        border-radius: 40px;
        height: 100%;
    }
    .download_text_ios {
        width: 68%;
        text-align: end;
        color: white;
    }
    .download_text_ios h1 {
        font-size: 11px;
        font-weight: 500;
        font-family: 'Poppins';
    }
    .ios_icons {
        display: flex;
        width: 23%;
        background: white;
        height: 85%;
        border-radius: 40px;
        justify-content: center;
        align-items: center;
    }
    .fa-apple {
        font-size: 20px;
    }
    .android_download {
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: black;
        border-radius: 40px;
        height: 100%;
    }
    .download_text_android {
        width: 73%;
        text-align: end;
        color: white;
    }
    .download_text_android h1 {
        font-size: 11px;
        font-weight: 500;
        font-family: 'Poppins';
        text-align: center;
    }
    .android_icons {
        display: flex;
        width: 19%;
        background: white;
        height: 85%;
        border-radius: 40px;
        justify-content: center;
        align-items: center;
    }
    .display_image_with_featured {
        width: 100%;
        height: 140vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .black_background {
        width: 98%;
        height: 100%;
        display: flex;
        align-items: center;
        background: black;
        border-radius: 15px;
        justify-content: space-around;
        flex-direction: column;
    }
    .featured_text_white {
        color: white;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 40px;
    }
    .featured_text_white h1 {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 34px;
        letter-spacing: -1px;
        line-height: 34px;
        width: 100%;
        height: 42%;
    }
    .featured_text_white p {
        font-family: 'Poppins';
        font-weight: 200;
        font-size: 12px;
    }
    .div_button_first {
        height: 10vh;
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .button_first {
        border: none;
        width: 80%;
        height: 60%;
        border-radius: 23px;
        font-family: 'Poppins';
        font-weight: 500;
    }
    .featured_images {
        width: 98%;
        height: 49%;
        border-radius: 10px;
    }
    .featured_features {
        width: 100%;
        height: 160vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .info_of_featured_features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60%;
        /* gap: 40px; */
    }
    .info_of_featured {
        display: flex;
        width: 90%;
        height: 35%;
        font-family: 'Poppins';
        font-size: 10px;
        flex-direction: column;
        justify-content: center;
    }
    .info_of_featured h1 {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 25px;
        letter-spacing: -1px;
        line-height: 34px;
        height: 39%;
    }
    .info_of_featured h1 {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 25px;
        letter-spacing: -1px;
        line-height: 34px;
        height: 39%;
    }
    .options_features {
        width: 100%;
        border: 1px solid rgba(233, 233, 233, 1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50%;
        border-radius: 10px;
        transition: 0.4s ease-in-out;
    }
    .features_icons {
        background: rgba(238, 238, 238, 1);
        height: 60%;
        width: 19%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: 0.4s ease-in-out;
    }
    .features_info {
        width: 65%;
        font-family: 'Poppins';
    }
    .features_info h1 {
        font-size: 15px;
        font-weight: 600;
    }
    .features_info p {
        font-size: 9px;
    }
    .images_features {
        width: 95%;
        height: 50%;
        border-radius: 10px;
        overflow: hidden;
        overflow-x: auto;
        scrollbar-width: none;
    }
    .options_features {
        width: 100%;
        border: 1px solid rgba(233, 233, 233, 1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50%;
        border-radius: 10px;
        transition: 0.4s ease-in-out;
    }
    .new_features {
        width: 100%;
        height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .new_features_text {
        height: 13%;
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .new_features_text h1 {
        font-size: 25px;
        font-family: 'Poppins';
        font-weight: 600;
    }
    .new_features_text p {
        font-size: 10px;
        font-family: 'Poppins';
        width: 95%;
    }
    .grid_new_features {
        height: 75%;
        display: flex;
        /* grid-template-areas:
            'myArea myArea .'
            'myArea myArea.'; */
        gap: 20px;
        width: 93%;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }
    .grid_new_features1 {
        grid-area: myArea;
        display: flex;
        width: 100%;
        background: #edf3f1;
        height: 59%;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .grid_new_features2 {
        display: flex;
        width: 100%;
        background: #edf3f1;
        height: 19%;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }
    .grid_nfeatures_text2 {
        width: 40%;
        height: 30%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
    .grid_new_features2 h1 {
        font-size: 17px;
        font-family: 'Poppins';
        font-weight: 600;
        line-height: 18px;
    }
    .grid_new_features2 p {
        font-size: 10px;
        font-family: 'Poppins';
    }
    
    .grid_nfeatures_picture2 {
        background-image: url(m.png);
        background-size: cover;
        height: 100%;
        width: 50%;
    }
    .grid_new_features3 {
        display: flex;
        width: 100%;
        background: #edf3f1;
        height: 19%;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }
    .grid_nfeatures_text3 {
        width: 40%;
        height: 30%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
    .grid_new_features3 h1 {
        font-size: 17px;
        font-family: 'Poppins';
        font-weight: 600;
        line-height: 17px;
    }
    .grid_new_features3 p {
        font-size: 10px;
        font-family: 'Poppins';
    }
    .grid_nfeatures_picture3 {
        background-image: url(m.png);
        background-size: cover;
        height: 100%;
        width: 50%;
    }
    .footer {
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .logo_in_footer {
        width: 95%;
        height: 10vh;
        align-items: center;
        display: flex;
    }
    .download_platforms {
        width: 95%;
        display: flex;
        gap: 10px;
        height: 32%;
        /* align-items: center; */
        flex-direction: column;
        align-content: flex-start;
        /* align-items: center; */
        justify-content: center;
    }
    .app_for_ios {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 75%;
        height: 100%;
        border: 2px solid black;
        border-radius: 40px;
    }
    .app_for_ios i, .app_for_android i {
        font-size: 20px;
    }
    .app_for_ios h1 {
        font-size: 12px;
        font-family: poppins;
        font-weight: 600;
    }
    .app_for_android {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 89%;
        height: 100%;
        border: 2px solid black;
        border-radius: 40px;
        background-color: black;
    }
    .app_for_android h1 {
        font-size: 12px;
        font-family: poppins;
        font-weight: 500;
    }
    .social_media_platforms {
        width: 95%;
        height: 13vh;
        display: flex
    ;
        align-items: center;
        gap: 16px;
    }
    .legal_lincese {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 5vh;
        flex-direction: column;
    } 
    .copyright_lincese {
        font-family: poppins;
        font-size: 10px;
        font-weight: 500;
    }
    .terms_privacy p {
        font-family: poppins;
        font-size: 10px;
        font-weight: 500;
    }
}