.testimonial-section {
    background: #fff;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    align-items: center;
    height: 100vh;
}

.testimonial-container {
    max-width: 1020px;
    width: 100%;
    text-align: left;
}

.quote-icon {
    font-size: 48px;
    color: #000;
    margin-bottom: 1rem;
}

.testimonial-text {
    font-size: 28px;
    font-weight: 500;
    color: #000;
    margin-bottom: 2rem;
    height: 170px;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.testimonial-author img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.author-title {
    font-size: 14px;
    color: #555;
}

.testimonial-nav {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

}

.testimonial-nav-item {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.testimonial-nav-item:hover {
    background: #f9f9f9;
}

.testimonial-nav-item.active {
    background: #000;
    color: #fff;
}

.testimonial-nav-item .company {
    font-size: 14px;
    color: inherit;
}


@media (max-width: 480px) {
    .testimonial-text {
        font-size: 23px;
        font-weight: 500;
        color: #000;
        margin-bottom: 2rem;
        height: 10%;
    }
    .testimonial-nav-item {
        width: 100%;
}
}